
:root{
   --bg:white;
   --bgSoft:#b7bac1;
   --text:#000000;
   --textSoft:#555555;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  direction: rtl;
  text-align: right;
}
body{
  background-color: var(--bg);
  color: var(--text);
}
a{
  color: inherit;
  text-decoration: none;
}