.single-category-container {
  display: flex;
  flex-direction: column;
  background-color: var(--softpurpil);
}

.single-category-properties {
  padding: 20vh;
  display: flex;
  gap: 5vw;
  max-width: 100vw;
  max-height: 20vh;
  align-items: center;
  align-content: center;
}

.single-category-info {
  display: flex;
  flex-direction: column;
  max-width: 25vw;
  max-height: 25vw;
  background-color: var(--purpil);
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}

.single-category-img-container {
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  aspect-ratio: 16/12;
}

.single-category-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.form-category-properties {
  display: flex;
  flex-direction: column;
  min-height: 35vh;
  padding-top: 3vh;
  padding-right: 28vw;
  padding-left: 3vw;
  background-color: white;
  border-radius: 10px;
  gap: 3vh;
}

.form-category-properties input {
  width: 30vw;
  height: 4vh;
}

.form-category-properties button {
  background-color: white;
  border: solid 1px var(--purpil);
  border-radius: 5px;
  cursor: pointer;
  color: var(--purpil);
}

/* .form-category-properties button:hover {
  background-color: var(--purpil);
  color: white;
} */

/* befor tavla */
.title-and-add-button-container {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 58vw;
  justify-content: center;
  justify-items: center;
}

.title-table-recipe {
  text-align: center;
  padding-top: 4vh;
  font-size: 160%;
}

.add-recipe-button {
  padding: 10px;
  background-color: white;
  color: var(--purpil);
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px var(--purpil);
}

/* טבלה */
.recipes-table {
  margin: 2vh;
  margin-right: 8.5vw;
  text-align: center;
  align-content: center;
  min-width: 82%;
  margin-top: 5vh;
  background-color: white;
  border-radius: 10px;
  padding-right: 10vw;
}

.recipes-table th, .recipes-table td {
  padding: 20px;
  text-align: center; /* ממרכז את התוכן בציר ה-X */
  vertical-align: middle; /* ממרכז את התוכן בציר ה-Y */
}

.recipes-list-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.recipe-name-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.recipes-table .recipe-img {
  border-radius: 50%;
}

.recipes-table .show-td {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.change-show {
  width: 5vw;
  height: 5vh;
  border: none;
}

.recipes-table .delete-recipe-button {
  width: 3vw;
  height: 5vh;
  padding: 1vh;
  border: none;
  cursor: pointer;
}

.recipes-table .edit-recipe-button {
  background-color: rgba(160, 164, 164, 0.109);
  padding: 1vh;
  margin: 3px;
}

/* כלל מדיה עבור תצוגות מתחת ל-768 פיקסלים */
@media (max-width: 768px) {
  .recipes-table {
    display: block;
    overflow-x: auto; /* מאפשר גלילה לרוחב */
    white-space: nowrap; /* מונע שבירת שורות */
  }
}
