<<<<<<< HEAD
.category-page-container-client {
=======



.category-page-container-client{
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;
    align-items: center;
<<<<<<< HEAD
    padding: 5vw;
    background-color: var(--softpurpil);
}

.categoy-title-and-description-and-add-button {
=======
    padding:5vw ;
    background-color: var(--softpurpil);
}

.categoy-title-and-description-and-add-button{
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
<<<<<<< HEAD

.categoy-title-and-description {
=======
.categoy-title-and-description{
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    padding: 5vh;
    display: flex;
    gap: 4vh;
    flex-direction: column;
    height: 30vh;
    width: 80vw;
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 10px;
<<<<<<< HEAD
    border: solid 1px var(--purpil);
}

.categoy-title-and-description .category-title {
    font-family: 'Rubik';
    font-size: 250%;
    /* color: var(--purpil); */
}

.categoy-title-and-description .category-description {
    font-size: 120%;
}

.add-recipe-button-client {
    display: flex;
    gap: 22vw;
    align-items: center;
    font-size: 103%;
=======
    border:solid 1px var(--purpil);
}
.categoy-title-and-description .category-title{
font-family: 'Rubik';
font-size: 250%;
/* color: var(--purpil); */
}
.categoy-title-and-description .category-description{
    font-size: 120%;
}
.add-recipe-button-client{
    display: flex;
    gap: 22vw;
    align-items: center;
    font-size:  103%;
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    font-weight: bolder;
    width: 80vw;
    background-color: white;
    text-align: center;
    padding: 2vh;
    color: gray;
<<<<<<< HEAD

}

.recipes-sub-container-client {

=======
    
}
.recipes-sub-container-client{
    
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    margin-top: 5vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    align-content: center;
}
<<<<<<< HEAD

.single-recipe-client-container {
=======
.single-recipe-client-container{
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    min-width: 25.5vw;
    height: auto;
    border-radius: 10px;
    background-color: white;
    border: solid 1px var(--purpil);
}

<<<<<<< HEAD
.single-recipe-container-client {
    display: flex;
    flex-direction: column;
    width: 100%;
=======
.single-recipe-container-client{
    display: flex;
    flex-direction: column;
   width: 100%;
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

<<<<<<< HEAD
.single-recipe-img-container-client {
    width: 100%;
    aspect-ratio: 16 / 12;
    /* Ensures a wide aspect ratio */
=======
.single-recipe-img-container-client{
    width: 100%;
    aspect-ratio: 16 / 12; /* Ensures a wide aspect ratio */
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
<<<<<<< HEAD
    transition: filter 0.2s, transform 0.2s;
    /* עיצוב המעבר */

}

.single-recipe-img-container-client img {
=======
    transition: filter 0.2s, transform 0.2s; /* עיצוב המעבר */

}

.single-recipe-img-container-client img{
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
<<<<<<< HEAD
}

.single-recipe-img-container-client:hover img {
    transform: scale(1.1);

}

.a:hover {
    text-decoration: underline;
}

/* new recipes */
.new-recipes-container-client {
=======
} 
.single-recipe-img-container-client:hover img{
    transform: scale(1.1);

}
.a:hover{
text-decoration: underline;
}
/* new recipes */
.new-recipes-container-client{
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    display: flex;
    flex-direction: column;
    gap: 5vh;
    text-align: center;
}
<<<<<<< HEAD

.new-recipes-sub-container-client {
    margin-top: 5vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    align-items: center;
}

.new-single-recipe-container-client {
    width: 18.5vw;
    height: auto;
    border-radius: 10px;
    background-color: white;
    border: solid 1px var(--purpil);
}

.single-recipe-client {
=======
.new-recipes-sub-container-client{
   margin-top: 5vh;
   width: 80vw;
   display: grid;
   grid-template-columns: repeat(4,1fr); 
   gap: 2vw;
   align-items: center;
}
.new-single-recipe-container-client{
   width: 18.5vw;
   height: auto;
   border-radius: 10px;
   background-color: white;
   border: solid 1px var(--purpil); 
}
.single-recipe-client{
>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
<<<<<<< HEAD

.new-single-recipe-img-container-client {
    width: 100%;
    aspect-ratio: 16 / 9;
    /* Ensures a wide aspect ratio */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: filter 0.2s, transform 0.2s;
}

.new-single-recipe-img-container-client img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
}

.new-single-recipe-img-container-client:hover {
    filter: brightness(95%);
}

@media (max-width:768px) {
    .categoy-title-and-description .category-title {
        font-size: 4vh;
    }

    .categoy-title-and-description .category-description {
        font-size: 3vw;
        overflow: hidden;
    }

    .add-recipe-button-client {
        flex-direction: column;
        gap: 3vh;
        font-size: 100%;
    }
    .category-page-container-client .rec-name{
font-size: 60%;
    }
    /*  */
    .new-recipes-container-client {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        text-align: center;
    }
    
    .new-recipes-sub-container-client {
        margin-top: 5vh;
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
        align-items: center;
        font-size: 60%;
    }
    
    .new-single-recipe-container-client {
        width: 22vw;
        height: auto;
        border-radius: 5px;
        background-color: white;
        border: solid 1px var(--purpil);
    }
    
    .single-recipe-client {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
    }
    
    .new-single-recipe-img-container-client {
        width: 100%;
        aspect-ratio: 16 / 9;
        /* Ensures a wide aspect ratio */
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 10px;
        transition: filter 0.2s, transform 0.2s;
    }
    
    .new-single-recipe-img-container-client img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.2s;
    }
    
    .new-single-recipe-img-container-client:hover {
        filter: brightness(95%);
    }
    
    /*  */

    

}
=======
.new-single-recipe-img-container-client{
   width: 100%;
   aspect-ratio: 16 / 9; /* Ensures a wide aspect ratio */
   position: relative;
   border-radius: 10px;
   overflow: hidden;
   margin-bottom: 20px;
   transition: filter 0.2s, transform 0.2s;
}
.new-single-recipe-img-container-client img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s; 
}
.new-single-recipe-img-container-client:hover{
    filter: brightness(95%); 
}








>>>>>>> e610c7c554dd72914694e2574747fd7c8a406a34
